.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    
}
.boton{
    background-color: rgb(76, 76, 170);
    padding: 3px;
    border-radius: 5px;
    
}
.producto {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h3 {
    margin-top: 10px;
}

.producto p {
    margin: 5px 0;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.nav-btn {
    padding: 10px 20px;
    font-size: 16px;
}
